@import "../../../mixins.scss";

.heroBanner {
    height: 450px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;
    @include md {
        height: 700px;
    }
    .backdrop-img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        overflow: hidden;
    }
}